.contact{
  border:1px solid black;
  border-radius:10px;
  height:150px;
  width:350px;
  overflow:hidden;
  display:block;
   }

.contact-box{
  border:1px solid black;
  margin:10px;
  width:100px;
  height:100px;
  border-radius:5px;
  float:left;
}
.contact-image{
  border:1px solid black;
  border-radius:250px;
  width:50px;
  height:50px;
  margin:20px;
}

.contact-information
{
  float:left;
  
}
